<!-- login_signup.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Signup Page</title>
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="./css/login.css">
    <style>
       
    </style>
</head>
<body>
    <div class="card">
        <h4 class="center-align">Patient Portal</h4>
        <ul class="tabs tabs-fixed-width">
            <li class="tab col s6"><a href="#login">Login</a></li>
            <li class="tab col s6"><a href="#signup">Signup</a></li>
        </ul>
        <div id="login" class="col s12">
            <div class="card-content">
                <form action="/login" method="POST">
                    <div class="input-field">
                        <input id="login-aadhar" type="text" class="validate" name="aadhar">
                        <label for="login-aadhar">Aadhar Number</label>
                    </div>
                    <div class="input-field">
                        <input id="login-password" type="password" class="validate" name="password">
                        <label for="login-password">Password</label>
                    </div>
                    <button type="submit" class="waves-effect waves-light btn">Login</button>
                </form>
            </div>
        </div>
        
        <div id="signup" class="col s12">
            <div class="card-content">
                <form action="/register" method="POST">
                    <div class="input-field">
                        <input id="signup-aadhar" type="text" class="validate" name="aadhar">
                        <label for="signup-aadhar">Aadhar Number</label>
                    </div>
                    <div class="input-field">
                        <input id="signup-password" type="password" class="validate" name="password">
                        <label for="signup-password">Password</label>
                    </div>
                    <div class="input-field">
                        <input id="signup-confirm-password" type="password" class="validate" name="confirmPassword">
                        <label for="signup-confirm-password">Confirm Password</label>
                    </div>
                    <button type="submit" class="waves-effect waves-light btn">Sign up</button>
                </form>
            </div>
        </div>
        
    </div>
  
    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var tabs = document.querySelectorAll('.tabs');
            var instances = M.Tabs.init(tabs);
        });
    </script>
</body>
</html>
